{% include "lite/header.html" %}
    <h1 class="center pix">Blog Posts</h1>
    <hr>{% for key, value in posts.items %}{% if value.content != "" %}
    <section class="blogpost theme-{{ value.theme }}">{% if value.icon == "" %}{% else %}
        <img src="{{ value.icon }}">{% endif %}
        <a href="{{ key }}/"><button>{{ value.title }}</button></a>
        <p class="bloginfo">Date: {{ value.date }} - Category: {{ value.cat }}</p>
        <p class="blogdesc">{{ value.desc }}</p>
    </section>{% endif %}{% endfor %}
    <hr>
{% include "lite/footer.html" %}
