/* Global */
a {
    color: {{ color }};
}

/* Theme color */
hr {
    color: {{ color }};
    border-color: {{ color }};
    fill: {{ color }};
}

/* Navbar */
nav ul {
    background-color: {{ color }};
}

nav ul li a {
    border-color: {{ color }};
    background-color: {{ color }};
    color: {{ fgcolor }};

    &:hover {
        transition: 0.1s linear;
        background-color: {{ fgcolor }};
        color: {{ color }};
    }
}

/* Play/Pause Button */
.vidbtn-play {
    background-color: {{ color }};
}

.vidbtn-pause {
    background-color: {{ color }};
}

::-moz-selection {
    background-color: {{ color }};
    color: {{ fgcolor }};
}

::selection {
    background-color: {{ color }};
    color: {{ fgcolor }};
}

/* Scrollbar */
@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }
    
    ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: {{ color }};
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: {{ color }};
    }
    
    ::-webkit-scrollbar-thumb:active {
        background-color: {{ color }};
    }
    
    ::-webkit-scrollbar-button:single-button {
        background-color: #000000;

        display: block;
        background-size: 10px;
        background-repeat: no-repeat;
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:decrement {
        height: 12px;
        width: 16px;
        background-position: center 4px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }}rgb + "'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }}rgb + "'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }}rgb + "'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:increment {
        height: 12px;
        width: 16px;
        background-position: center 2px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }}rgb + "'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }}rgb + "'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:increment:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }}rgb + "'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:decrement {
        height: 12px;
        width: 12px;
        background-position: 3px 3px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,50 50,100 50,0'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,50 50,100 50,0'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,50 50,100 50,0'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:increment {
        height: 12px;
        width: 12px;
        background-position: 3px 3px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 0,100 50,50'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 0,100 50,50'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 0,100 50,50'/></svg>");
        background-color: #000000;
    }
}

/* scrollbar-color included in case the webkit method above is not supported */
@supports (scrollbar-color: auto) {
    html {
      scrollbar-color: {{ color }} #000000;
      scrollbar-width: 16px;
    }
}

{% for themename, themedata in themes %}
/* The title should only be the only h2 text in a section */
.section-{{ themename }} h2 {
    color: {{ themedata.fgcolor }};
    background-color: {{ themedata.color }};
}
.pagebutton.section-{{ themename }} .pagebutton-title {
    color: {{ themedata.fgcolor }};
    background-color: {{ themedata.color }};
}
.section-{{ themename }} {
    border-color: {{ themedata.color }};
    box-shadow: {% for i in range(start = 1, end = (sectionshadowcount * 2) + 1) %}
        {{ i * 0.5 }}px {{ i * 0.5 }}px rgb({{ themedata.colorrgb[0] * 0.6 | round(method="floor") }}, {{ themedata.colorrgb[1] * 0.6 | round(method="floor") }}, {{ themedata.colorrgb[2] * 0.6 | round(method="floor") }}){% if i < (sectionshadowcount * 2) %},{% endif %}
    {% endfor %}
}
.pagebutton.section-{{ themename }}:hover {
    box-shadow: none;
    transform: translate({{ sectionshadowcount }}px, {{ sectionshadowcount }}px);
}
.section-{{ themename }} a {
    color: {{ themedata.color }};
}
.section-{{ themename }} ::selection {
    color: {{ themedata.fgcolor }};
    background-color: {{ themedata.color }};
}
.section-{{ themename }} ::-moz-selection {
    color: {{ themedata.fgcolor }};
    background-color: {{ themedata.color }};
}
.pagebutton.section-{{ themename }} ::selection {
    color: {{ themedata.fgcolor }};
    background-color: {{ themedata.color }};
}
.pagebutton.section-{{ themename }} ::-moz-selection {
    color: {{ themedata.fgcolor }};
    background-color: {{ themedata.color }};
}
.section-{{ themename }} ul li::marker {
    color: {{ themedata.color }};
}
.section-{{ themename }}.pagebutton img {
    border-color: {{ themedata.color }};
}
.category-{{ themename }} {
    padding: 2pt;
    color: {{ themedata.fgcolor }};
    background-color: {{ themedata.color }};
}
{% endfor %}

