/* Common font values */
.content h1, header h1 {
    font-family: "play";
    font-size: {{ textdefaultsizes.h1 }};
}

.content h1 {
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

section h2, .content h2 {
    font-weight: bold;
    font-size: {{ textdefaultsizes.h2 }};
}

.content h2 {
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

.pagebutton-title, .content h3 {
    font-weight: bold;
    font-size: {{ textdefaultsizes.h3 }};
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

.content h4  {
    font-weight: bold;
    font-size: {{ textdefaultsizes.h4 }};
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

.content h5 {
    font-weight: bold;
    font-size: {{ textdefaultsizes.h5 }};
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

.content h6 {
    font-weight: bold;
    font-size: {{ textdefaultsizes.h1 }};
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

.content p strong, .content ul li strong, .content table tr th {
    font-weight: bold;
    font-size: {{ textdefaultsizes.body }};
}

.pagebutton-desc, .pagebutton-date, footer p {
    font-weight: normal;
    font-size: {{ textdefaultsizes.body }};
}

nav ul li a {
    font-weight: bold;
    font-size: {{ textdefaultsizes.nav }};
}

.content p code, .content p code {
    font-weight: normal;
    font-size: {{ textdefaultsizes.body }};
}

.content p, figure figcaption, .content ul li, td, th {
    font-weight: normal;
    font-size: {{ textdefaultsizes.body }};
}

/* Base Tags */
body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    padding: 3px;
    margin-top: 8pt;
    margin-bottom: 8pt;
}

hr {
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-top-style: solid;
}

/* Figure images */
figure {
    margin: 8pt;
    margin-right: 75%;
    margin-left: 0;
    clear: left;
    padding: 4pt;
    width: 50%;
    max-width: 360pt;
    background-color: #101010;
    border-style: solid;
    border-width: 1pt;
    border-color: #999999;
    align-items: center;
}

figure img {
    width: -webkit-fill-available;
    max-width: 100%;
}

figure video {
    width: -webkit-fill-available;
    max-width: 100%;
}

header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    margin: 6px;
}

/* Navbar */
nav ul {
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #000000;
}

nav ul li {
    list-style: none;
    float: left;
    text-decoration: none;
}

nav ul li a {
    border-width: {{ sectionborder }};
    border-style: solid;
    padding: 4px;
    display: block;
    text-decoration-line: none;
}

/* Content in sections and content pages */

.content table {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

.content table tr th, .content table tr td {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
}

/* Styling common to sections */
section {
    position: relative;
    width: auto;
    overflow: hidden;
    border-width: {{ sectionborder }};
    border-style: solid;
    margin: {{ sectionmargin }};
    background: rgba(0,0,0,.6);
}

.section-fitscreen {
    min-height: 100vh;
}

/* Section classes for Projects and Blog pages */

.pagebutton {
    height: {{ linkheight }};
    max-height: {{ linkmaxheight }};
    border-style: solid;
    border-width: {{ sectionborder }};
    text-decoration: none;
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      'image title'
      'image desc '
      'image date ';
    overflow: hidden;
    margin: {{ sectionmargin }};
}

.pagebutton-title {
    width: fit-content; 
    height: fit-content;
    border-right: none;
    margin: 0;
    padding: 4px;
    color: #000000;
    grid-area: title;
    display: flex;
    flex-direction: row;
}

.pagebutton-desc {
    color: #ffffff;
    margin: {{ sectionmargin }};
    grid-area: desc;
    background-clip: text;
    -webkit-background-clip: text;
}

.pagebutton-img {
    height: inherit;
    width: auto;
    background-size: cover;
    background-position: right;
    grid-area: image;
    border-right-style: solid;
    border-right-width: {{ sectionborder }};
}

.pagebutton-date {
    color: #ffffff;
    margin: {{ sectionmargin }};
    grid-area: date;
    margin-top: auto;
}

.docpagelist {
    margin: 8pt;
    margin-right: 75%;
    margin-left: 0;
    clear: left;
    padding: 4pt;
    width: 50%;
    max-width: 360pt;
    background-color: #101010;
    border-style: solid;
    border-width: 1pt;
    border-color: #999999;
    align-items: center;
}

.docpagelist .docpagelisttitle {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    margin: 0;
}

.docpagelist ul li {
    list-style-type: square;
}

pre.fileviewer {
    overflow: scroll;
    overflow-wrap: break-word;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    background-color: #202020;
    margin: 8pt;
}

img.fileviewer {
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    background-color: #202020;
    margin: 8pt;
    width: 100%;
}