@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "src/styling/themes";

/* Fonts */
@font-face {
    font-family: "pix20x20";
    src: #{url(/static/Pixel-20x20-condensed.ttf) format("truetype")};
}

@font-face {
    font-family: "pix16x16";
    src: #{url(/static/Pixel-16x16-condensed.ttf) format("truetype")};
}

@font-face {
    font-family: "pix14x14";
    src: #{url(/static/Pixel-14x14-condensed.ttf) format("truetype")};
}

@font-face {
    font-family: "pix12x12";
    src: #{url(/static/Pixel-12x12-condensed.ttf) format("truetype")};
}

@font-face {
    font-family: "pix10x10";
    src: #{url(/static/Pixel-10x10-condensed.ttf) format("truetype")};
}

@font-face {
    font-family: "pix8x8";
    src: #{url(/static/Pixel-8x8-condensed.ttf) format("truetype")};
}

@font-face {
    font-family: "pix7x7";
    src: #{url(/static/Pixel-7x7-condensed.ttf) format("truetype")};
}

@font-face {
    font-family: "play";
    src: #{url(/static/Play-Regular.ttf) format("truetype")};
}

/* Variables */
/* Margin around sections and page buttons */
$sectionmargin: 8px;
/* Border width of sections and page buttons */
$sectionborder: 2px;
/* Minimum height of blog post and project links */
$entryheight: 25vw;

/* Font configurations */

@mixin pix20 {
    font-family: "pix20x20";
    font-size: 28px;
}

@mixin pix16_2 {
    font-family: "pix16x16";
    font-size: 44px;
}

@mixin pix16 {
    font-family: "pix16x16";
    font-size: 22px;
}

@mixin pix14_2 {
    font-family: "pix14x14";
    font-size: 40px;
}

@mixin pix14 {
    font-family: "pix14x14";
    font-size: 20px;
}

@mixin pix12_4 {
    font-family: "pix12x12";
    font-size: 32px;
}

@mixin pix12_3 {
    font-family: "pix12x12";
    font-size: 32px;
}

@mixin pix12_2 {
    font-family: "pix12x12";
    font-size: 32px;
}

@mixin pix12 {
    font-family: "pix12x12";
    font-size: 16px;
}

@mixin pix10_2 {
    font-family: "pix10x10";
    font-size: 28px;
}

@mixin pix10 {
    font-family: "pix10x10";
    font-size: 14px;
}

@mixin pix8 {
    font-family: "pix8x8";
    font-size: 10px;
}

@mixin pix7 {
    font-family: "pix7x7";
    font-size: 9px;
}

@mixin play {
    font-family: "play";
    font-size: 10pt;
}

/* Font use definitions */

.content h1, header h1 {
    @include pix12_2;
}

.pagebutton-title, section h2 {
    @include pix16;
}

.content h2, .content h3, .content h4, section p, .pagebutton-desc, .pagebutton-date, nav ul li a {
    @include pix12;
}

.content h5 {
    @include pix10;
}

.content h6 {
    @include pix8;
}

.content p, figure figcaption, .content ul li {
    @include play;
}


/* Thing to use for having headers appear as the "tabs" on sections */
@mixin tabify {
    width: fit-content; 
    height: fit-content;
    border-right: none;
    margin: 0;
    padding: 4px;
}

/* Base Tags */
body {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    padding: 3px;
    margin-top: 8pt;
    margin-bottom: 8pt;
}

hr {
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-top-style: solid;
}

/* Figure images */
figure {
    margin: 8pt;
    margin-right: 75%;
    clear: left;
    padding: 4pt;
    width: 50%;
    max-width: 360pt;
    background-color: #101010;
    border-style: solid;
    border-width: 1pt;
    border-color: #999999;
    align-items: center;
}

figure img {
    width: -webkit-fill-available;
    max-width: 100%;
}

figure video {
    width: -webkit-fill-available;
    max-width: 100%;
}

/* Pixel fonts are already "bold" by nature */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}

header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 6px;
}

/* Navbar */
nav ul {
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #000000;
}

nav ul li {
    list-style: none;
    float: left;
    text-decoration: none;
}

nav ul li a {
    border-width: $sectionborder;
    border-style: solid;
    padding: 4px;
    display: block;
    text-decoration-line: none;
}

/* Content in sections and content pages */
.content {
    margin: $sectionmargin;
}

.content ul {
    padding-left: 24px;
    margin: 8px
}

.content ul li {
    list-style-type: square;
    padding: 0;
}

.content ul li p {
    margin: 0;
}

/* Styling common to sections */
section {
    position: relative;
    width: auto;
    overflow: hidden;
    border-width: $sectionborder;
    border-style: solid;
    margin: $sectionmargin;
    background: rgba(0,0,0,.6);
}

section .content {
    margin: $sectionmargin;
}

section h2 {
    @include tabify;
}

section p {
    margin: $sectionmargin;
}

section video {
    height: 100vh;
    left: 50%;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);
    z-index: -1;
}

.section-fitscreen {
    min-height: 100vh;
}

/* Section classes for Projects and Blog pages */

.pagebutton {
    height: $entryheight;
    border-style: solid;
    border-width: $sectionborder;
    text-decoration: none;
    position: relative;
    display: grid;
    grid-template-columns: $entryheight 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas:
      'title title image'
      'tags  tags  image'
      'desc  desc  image'
      'date  date  image';
    overflow: hidden;
    margin: $sectionmargin;
}

.pagebutton-title {
    @include tabify;
    color: #000000;
    grid-area: title;
    display: flex;
    flex-direction: row;
}

.pagebutton-desc {
    color: #FFFFFF;
    margin: $sectionmargin;
    grid-area: desc;
    background-clip: text;
    -webkit-background-clip: text;
}

.pagebutton-img {
    width: $entryheight;
    height: $entryheight;
    background-size: cover;
    background-position: cover;
    grid-area: image;
    border-left-style: solid;
    border-left-width: $sectionborder;
}

.pagebutton-date {
    color: #FFFFFF;
    margin: $sectionmargin;
    grid-area: date;
    margin-top: auto;
}

/* Play/Pause Button */
.vidbtn-play {
    background-image: url("/static/icons/play.svg");
    background-size: contain;
    border: none;
    padding: 0;
    margin: 8px;
    margin-bottom: 4px;
    height: 36px;
    width: 36px;
}

.vidbtn-pause {
    background-image: url("/static/icons/pause.svg");
    background-size: contain;
    border: none;
    padding: 0;
    margin: 8px;
    margin-bottom: 4px;
    height: 36px;
    width: 36px;
}

/* Section Color Scheme */
/* This should be the only thing in base.scss that defines colors other than #000000 or #FFFFFF */
@each $theme, $themedata in themes.$themes {
    /* The title should only be the only h2 text in a section */
    .section-#{$theme} h2 {
        color: map.get($themedata, "fgcolor");
        background-color: map.get($themedata, "theme");
    }
    .pagebutton.section-#{$theme} .pagebutton-title {
        color: map.get($themedata, "fgcolor");
        background-color: map.get($themedata, "theme");
    }
    .section-#{$theme} {
        border-color: map.get($themedata, "theme");
    }
    .section-#{$theme}.pagebutton img {
        border-color: map.get($themedata, "theme");
    }
    .pagebutton-#{$theme} {
        border-color: map.get($themedata, "theme");
    }
}


