{% include "_fonts.css" %}
{% include "_common.css" %}

/* Font use definitions */

.content {
    margin: {{ sectionmargin }};
}

.content h1, header h1 {
    font-family: "play";
}

.pagebutton-title, section h2, .content h2 {
    font-family: "play";
}

.content h3 {
    font-family: "play";
}

.content h4  {
    font-family: "play";
}

.content h5 {
    font-family: "play";
}

.content h6 {
    font-family: "play";
}

.content p strong, .content ul li strong, .content table tr th {
    font-family: "play";
}

.pagebutton-desc, .pagebutton-date, footer p {
    font-family: "play";
}

nav ul li a {
    font-family: "play";
}

.content p code, .content p code {
    font-family: "hack";
}

.content p, figure figcaption, .content ul li, td, th {
    font-family: "play";
}

section h2 {
    width: fit-content; 
    height: fit-content;
    border-right: none;
    margin: 0;
    padding: 4px;
}

.content ul {
    list-style-type: square;
     padding-inline-start: 16pt;
}

{% include "_colors.css" %}