{% include "_fonts.css" %}
{% include "_common.css" %}

/* Common font values */
.content h1, header h1 {
    font-weight: normal;
    font-size: {{ textdefaultsizes.h1 }};
    font-family: "bebasneue";
}

.content h1 {
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
}

section h2, .content h2 {
    font-weight: normal;
    font-size: {{ textdefaultsizes.h2 }};
    font-family: "bebasneue";
}

.content h2 {
    margin: 0;
    margin-top: 12pt;
    margin-bottom: 12pt;
    font-family: "bebasneue";
}

.pagebutton-title, .titlebutton, .content h3 {
    font-weight: normal;
    font-size: {{ textdefaultsizes.h3 }};
    font-family: "bebasneue";
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    margin: {{ sectionmargin }};
}

/* Content margin and padding */
.content {
    margin: {{ sectionmargin }};
}

.content ul {
    padding-left: 24px;
    margin: 0;
}

.content ul li {
    list-style-type: square;
    padding: 0;
}

.content ul li p {
    margin: 0;
}

section .content {
    margin: {{ sectionmargin }};
}

section h2 {
    width: fit-content; 
    height: fit-content;
    border-right: none;
    margin: 0;
    padding: 4px;
}

{# Global #}
a {
    color: {{ color }};
}

hr {
    color: {{ color }};
    border-color: {{ color }};
    fill: {{ color }};
}

::-moz-selection {
    background-color: {{ color }};
    color: {{ fgcolor }};
}

::selection {
    background-color: {{ color }};
    color: {{ fgcolor }};
}

{# Scrollbar #}
@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }
    
    ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: {{ color }};
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: {{ color }};
    }
    
    ::-webkit-scrollbar-thumb:active {
        background-color: {{ color }};
    }
    
    ::-webkit-scrollbar-button:single-button {
        background-color: #000000;

        display: block;
        background-size: 10px;
        background-repeat: no-repeat;
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:decrement {
        height: 12px;
        width: 16px;
        background-position: center 4px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }} + "'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }} + "'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }} + "'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:increment {
        height: 12px;
        width: 16px;
        background-position: center 2px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }} + "'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }} + "'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:vertical:increment:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='" + {{ color }} + "'><polygon points='0,0 100,0 50,50'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:decrement {
        height: 12px;
        width: 12px;
        background-position: 3px 3px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,50 50,100 50,0'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,50 50,100 50,0'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,50 50,100 50,0'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:increment {
        height: 12px;
        width: 12px;
        background-position: 3px 3px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 0,100 50,50'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 0,100 50,50'/></svg>");
        background-color: #000000;
    }
    
    ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 0,100 50,50'/></svg>");
        background-color: #000000;
    }
}

{# scrollbar-color included in case the webkit method above is not supported #}
@supports (scrollbar-color: auto) {
    html {
      scrollbar-color: {{ color }} #000000;
      scrollbar-width: 16px;
    }
}

{% for name, data in themes %}
{% set sectionshadowcount = sectionshadowlength * sectionshadowresolution %}
{# Section and pagebuttons all have the pseudo-3D effect by default #}
.section-{{ name }}, .pagebutton.section-{{name}} {
    border-color: {{ data.color }};
    box-shadow: none;
}

{# Text #}
.section-{{ name }} h2 {
    color: {{ data.fgcolor }};
    background-color: {{ data.color }};
}

.pagebutton.section-{{ name }} .pagebutton-title {
    color: {{ data.fgcolor }};
    background-color: {{ data.color }};
}

.titlebutton.section-{{ name }} .titlebutton-title {
    color: {{ data.fgcolor }};
}

.titlebutton.section-{{ name }} {
    background-color: {{ data.color }};
}

.pagebutton.section-{{ name }} .pagebutton-desc, .pagebutton.section-{{ name }} .pagebutton-date {
    color: #ffffff;
    background: none;
    font-family: {{ data.mainfont }};
}

.pagebutton.section-{{ name }} .pagebutton-img {
    border-color: {{ data.color }}
}

{# Link color #}
.section-{{ name }} a {
    color: {{ data.color }};
}

{# Selection colors #}
.section-{{ name }} ::selection {
    color: {{ data.fgcolor }};
    background-color: {{ data.color }};
}
.section-{{ name }} ::-moz-selection {
    color: {{ data.fgcolor }};
    background-color: {{ data.color }};
}
.pagebutton.section-{{ name }} ::selection {
    color: {{ data.fgcolor }};
    background-color: {{ data.color }};
}
.pagebutton.section-{{ name }} ::-moz-selection {
    color: {{ data.fgcolor }};
    background-color: {{ data.color }};
}

{# Category box #}
.category-{{ name }} {
    padding: 2pt;
    padding-left: 4pt;
    padding-right: 4pt;
    color: {{ data.fgcolor }};
    background-color: {{ data.color }};
}
{% endfor %}
