{% include "_fonts.css" %}
{% include "_common.css" %}

/* Font use definitions */

.content {
    margin: {{ sectionmargin }};
}

.content h1, header h1 {
    font-family: "heuristica";
}

.pagebutton-title, section h2, .content h2 {
    font-family: "heuristica";
}

.content h3 {
    font-family: "heuristica";
}

.content h4  {
    font-family: "heuristica";
}

.content h5 {
    font-family: "heuristica";
}

.content h6 {
    font-family: "heuristica";
}

.content p strong, .content ul li strong, .content table tr th {
    font-family: "heuristica";
}

.pagebutton-desc, .pagebutton-date, footer p {
    font-family: "heuristica";
}

nav ul li a {
    font-family: "heuristica";
}

.content p code, .content p code {
    font-family: "hack";
}

.content p, figure figcaption, .content ul li, td, th {
    font-family: "heuristica";
}

/* Content margin and padding */
.content {
    margin: {{ sectionmargin }};
}

.content ul {
    padding-left: 24px;
    margin: 0;
}

.content ul li {
    list-style-type: square;
    padding: 0;
}

.content ul li p {
    margin: 0;
}

section .content {
    margin: {{ sectionmargin }};
}

section h2 {
    width: fit-content; 
    height: fit-content;
    border-right: none;
    margin: 0;
    padding: 4px;
}

{# compensate for Heuristica's font sizing #}
.docpagebuttondesc {
    margin: 8pt;
    margin-top: 10pt;
}

{% include "_colors.css" %}