{% include "header.html" %}
    <h1 class="center pix">Welcome</h1>
    <hr>
    {% for section in sections %}
    <section id="{{ section.id }}" class="banner">
        <video class="bgvid" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" poster="{{ section.bgimg }}">
            <source src="{{ section.bgvid }}" type="video/webm">
        </video>
        <section class="sectioncontent">
        <h2 class="sectionheader pix">{{ section.title }}</h2>
        {{ section.content|safe }}
        </section>
    </section>{% endfor %}
    <hr>
{% include "footer.html" %}
