{% include "header.html" %}
    <script src="/static/vids.js"></script>
    <h1 class="center pix">Welcome</h1>
    <hr>
    <button class="playpausebtn-play" onclick = "playpauseVideos();"></button>
    {% for section in sections %}
    <div id="{{ section.id }}" class="banner">
        <video class="bgvid" preload="auto" poster="{{ section.bgimg }}" autoplay loop muted playsinline>
            <source src="{{ section.bgvid|safe }}" type="video/webm">
        </video>
        <section class="sectioncontent">
        <h2 class="sectionheader pix">{{ section.title }}</h2>
        {{ section.content|safe }}
        </section>
    </div>{% endfor %}
    <hr>
{% include "footer.html" %}
