{% include "header.html" %}
    {% for subpageid, subpage in posts %}
    <a class="pagebutton section-{{ subpage.theme }}" href="{{ subpageid }}/">
        <span class="pagebutton-title">{{ subpage.title }}</span>
        <span class="pagebutton-desc">{{ subpage.desc }}</span>
        <span class="pagebutton-date">{{ subpage.date }} - {{ subpage.cat }}</span>
        {% if subpage.icon %}
        <img class="pagebutton-img" src="{{ subpage.icon }}"{% if subpage.icontitle %} title="{{ subpage.icontitle }}"{% endif %}>
        {% endif %}
    </a>
    {% endfor %}
{% include "footer.html" %}