{% include "header.html" %}
    {% for subpageid, subpage in posts %}
    <section class="pagebutton section-{{ subpage.theme }}">
        {% if subpage.icon %}
        <img src="{{ subpage.icon }}"{% if subpage.icontitle %} title="{{ subpage.icontitle }}"{% endif %}>
        {% endif %}
        <a href="{{ subpageid }}/">
            <section class="pagebuttoncontent">
                <h3>{{ subpage.title }}</h3>
                <h4>{{ subpage.date}} - {{subpage.cat}}</h4>
                <p>{{ subpage.desc }}</p>
            </section>
        </a>
    </section>
    {% endfor %}
{% include "footer.html" %}