{% include "header.html" %}
{% if pages -%}
<div class="content"> 
    <div class="docpagelist">
        <p class="docpagelisttitle">Links to other pages</p>
        {% for pageid, page in pages %}
        <a href="{{ page.link }}">
            <div class="docpagebutton">
                <p class="docpagebuttontitle">{{ page.title }}</p>
                <p class="docpagebuttondesc">{{ page.desc }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endif -%}
{% if content -%}
{{ content|safe }}
{% endif -%}
<div>
{% include "footer.html" %}