body {
    background-color: #FFFFFF;
    font-family: "arial";
}

hr {
    color: #009900;
    border-color: inherit;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 2pt solid #009900;
    margin: 1em 0; 
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009900;
}

.navbar li { float: left;}

.navbar li a {
    background-color: #009900;
    border: 2pt solid;
    border-color: #009900;
    color: #FFFFFF;
    padding: 6pt 8pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    cursor: pointer;
}

.btn-group-rlmenu button {
    background-color: #009900; /* this is used unless overridden by in-line styling */
    border: 1px solid #000000;
    margin: 1px;
    color: #FFFFFF;
    padding: 10px 24px;
    cursor: pointer; 
    width: 100%; 
    display: block;
}

.btn-group-rlmenu a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.navbar .active {
    background-color: #FFFFFF;
    color: #009900;
}

h1 {color: #000000;}

h6 {text-align: center;}

a {
    color: #009900;
    text-decoration: none;
}
p {font-size: 12pt;}
::selection {
    background-color: #009900;
    color: #FFFFFF;
}
::-moz-selection {
    background-color: #009900;
    color: #FFFFFF;
}
::-o-selection {
    background-color: #009900;
    color: #FFFFFF;
}
::-ms-selection {
    background-color: #009900;
    color: #FFFFFF;
}
::-webkit-selection {
    background-color: #009900;
    color: #FFFFFF;
}
