{% include "header.html" %}
    <h1 class="center pix">Projects</h1>
    <hr>{% for menukey, menuvalue in menu %}
    <section class="sectionitem">
        <h2 class="sectiontitle">{{ menuvalue.title }}</h2>
        <p>{{ menuvalue.desc }}</p>{% for subpagekey, subpagevalue in menuvalue.subpages %}
        <section class="buttonsection theme-{{ subpagevalue.theme }}">{% if subpagevalue.icon %}
            <img src="{{ subpagevalue.icon }}" title="{{ subpagevalue.icontitle }}">{% endif %}
            <section class="buttontextsection">
                <a href="{{ subpagekey }}/" class="buttonsectiontitle"><h3>{{ subpagevalue.title }}</h3></a>
                <p class="buttonsectiondesc">{{ subpagevalue.desc }}</p>
            </section>
        </section>{% endfor %}
    </section>{% endfor %}
    </a>
    <hr>
{% include "footer.html" %}