{% include "header.html" %}
    <h1 class="center pix">Projects</h1>
    <hr>{% for menukey, menuvalue in menu %}
    <section class="sectionitem">
        <h2 class="sectiontitle">{{ menuvalue.title }}</h2>
        <p>{{ menuvalue.desc }}</p>{% for subpagekey, subpagevalue in menuvalue.subpages %}
        <section class="projectitem theme-{{ subpagevalue.theme }}">
            <a href="{{ subpagekey }}/"><button><h3 class="projecttitle">{{ subpagevalue.title }}</h3></button></a>
            <p class="projectdesc">{{ subpagevalue.desc }}</p>
        </section>{% endfor %}
    </section>{% endfor %}
    </a>
    <hr>
{% include "footer.html" %}