body {
    background-color: #FFFFFF;
    font-family: "arial";
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009900;
}

.navbar li {
    float: left;
}

.navbar li a {
    background-color: #009900;
    border: none;
    color: #FFFFFF;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10pt;
    cursor: pointer;
}

h1 {
    color: #000000;
}

h6 {
    text-align: center;
}

.navbar .active {
    background-color: #FFFFFF;
    color: #009900;
}

a {
    color: #009900;
    text-decoration: none;
}

p {
    font-size: 12pt;
}

.btn-group-rlmenu button {
    background-color: #009900; /* this is used unless overridden by in-line styling */
    border: 1px solid #000000;
    margin: 1px;
    color: #FFFFFF;
    padding: 10px 24px;
    cursor: pointer; 
    width: 100%; 
    display: block;
}

.btn-group-rlmenu a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #666666;
    font-size: 8pt;
    word-wrap: break-word;
}
tr:nth-child(even) {
    background-color: #CCCCCC;
}
