{% include "rl_header.html" %}
    <body>
<!-- end header -->
<!-- start content -->
        <h1><a href="..">CTCL's RAMList</a> - Error</h1>
        <h4><a href="..">Back to menu</a></h4>
        <p>File {{ missing }} is missing or empty.</p>
        <p>This page may have not been implemented yet.</p>
        <p>If the problem persists, please <a href="/contact/">contact CrazyblocksTechnologies Computer Laboratories</a></p>
<!-- end content -->
<!-- start footer -->
        <br>
{% include "rl_footer.html" %}
<!-- end footer -->


