{% include "rl_header.html" %}
    <body>
<!-- end header -->
<!-- start content -->
        <div class="nopix">
            <h1>RAMList - Main Menu</h1>
            <h4><a href="/">Back to website</a></h4>
            <div class="btn-group-rlmenu">{% for item in menu %}
                <a href="{{ item["link"] }}"><button style="background-color: {{ item["bclr"] }}; color: {{ item["tclr"] }}">{{ item["desc"] }}</button></a>{% endfor %}
            </div>
        </div>
<!-- end content -->
<!-- start footer -->
        <br>
        <!-- override hr width -->
{% include "rl_footer.html" %}
<!-- end footer -->
