{% include "header.html" %}
{% if video %} 
<button class="vidbtn-pause" onclick = "playpauseVideos();"></button>
{% endif %}

{% for sectionid, section in sections %}
<section class="section section-{{ section.theme }} {% if section.fitscreen == True %}section-fitscreen{% endif %}" id="{{ sectionid }}">
    {% if section.bgvid %}
    <video class="bgvid" preload="auto" autoplay muted loop>
        <source src="{{ section.bgvid }}" type="video/webm">
    </video>
    {% endif %}
    <h2>{{ section.title }}</h2>
    <div class="content">
        {{ section.content|safe }}
    </div>
</section>
{% endfor %}
{% include "footer.html" %}