@font-face {
  font-family: "pix5x5";
  src: url(/static/Pixel-5x5.ttf) format("truetype");
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "arial";
}

h1, h2 {
    font-family: "pix5x5";
    font-weight: normal;
}

/* Do not use pix5x5 on RAMList, chosen after poll */
.nopix {
    font-family: "arial";
    font-weight: bold;
}


h6 {
    text-align: center;
}

hr {
    color: {{ color }};
    border-color: inherit;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 2pt solid {{ color }};
    margin: 1em 0; 
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: {{ color }};
}

.navbar li {
    float: left;
    list-style-type: none;
}

.navbar li a {
    background-color: {{ color }};
    border: 2pt solid;
    border-color: {{ color }};
    color: #FFFFFF;
    padding: 8pt 8pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    cursor: pointer;
    font-family: pix5x5;
}

.btn-group-rlmenu button {
    background-color: {{ color }}; /* this is used unless overridden by in-line styling */
    border: 1px solid #000000;
    margin: 1px;
    color: #FFFFFF;
    padding: 10px 24px;
    cursor: pointer; 
    width: 100%; 
    display: block;
}

.btn-group-rlmenu a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.navbar .active {
    background-color: #FFFFFF;
    color: {{ color }};
}

a {
    color: {{ color }};
    text-decoration: none;
}

p {
    font-size: 12pt;
}

::selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-moz-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-o-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-ms-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-webkit-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    font-family: "arial";
}

.navbar .active {
    background-color: #FFFFFF;
    color: {{ color }};
}

a {
    color: {{ color }};
    text-decoration: none;
}

p {
    font-size: 12pt;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 2pt;
    text-align: left;
    border-bottom: 1px solid #666666;
    font-size: 8pt;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #CCCCCC;
}

li::marker {
    color: {{ color }};
}

li {
    color: #000000;
    list-style-type: square;
}
