@font-face {
  font-family: "pix5x5";
  src: url(/static/Pixel-5x5.ttf) format("truetype");
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "arial";
    margin: 0pt;
}

h1, h2 {
    font-family: "pix5x5";
    font-weight: normal;
    margin: 8pt;
}

h4, h5 {
    margin: 8pt;
}

h6 {
    text-align: center;
}

/* Do not use pix5x5 on RAMList, chosen after poll */
.nopix {
    font-family: "arial";
    font-weight: bold;
}

.center {
    text-align: center;
}


hr {
    color: {{ color }};
    border-color: inherit;
    display: block; 
    height: 0;
    border: 0; 
    border-top: 2pt solid {{ color }};
    margin: 0 0; 
    padding: 0;
    margin-block: 0;
}

.navbar {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: {{ color }};
}

.navbar li {
    float: left;
    list-style-type: none;
}

.navbar li a {
    background-color: {{ color }};
    border: 2pt solid;
    border-color: {{ color }};
    color: #FFFFFF;
    padding: 8pt 8pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    cursor: pointer;
    font-family: pix5x5;
}

.btn-group-rlmenu button {
    background-color: {{ color }}; /* this is used unless overridden by in-line styling */
    border: 1px solid #000000;
    margin: 1px;
    color: #FFFFFF;
    padding: 10px 24px;
    cursor: pointer; 
    width: 100%; 
    display: block;
}

.btn-group-rlmenu a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.navbar .active {
    background-color: #FFFFFF;
    color: {{ color }};
}

a {
    color: {{ color }};
    text-decoration: none;
}

p {
    font-size: 12pt;
}

::selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-moz-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-o-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-ms-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

::-webkit-selection {
    background-color: {{ color }};
    color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    font-family: "arial";
}

.navbar .active {
    background-color: #FFFFFF;
    color: {{ color }};
}

p {
    font-size: 12pt;
    margin: 8pt;
}

th, td {
    padding: 2pt;
    text-align: left;
    border-bottom: 1px solid #666666;
    font-size: 8pt;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #CCCCCC;
}

li::marker {
    color: {{ color }};
}

li {
    color: #000000;
    list-style-type: square;
}

section {
    min-height: 200pt;
    /* <section> is only used on the about page for now which is "dark theme" */
    color: #FFFFFF;
    background-color: #000000;
    background-size: auto;
    background-position-x: center;
    padding: 2pt;
}

section h2 {
    text-align: center;
    color: #FFFFFF;
    background-color: #00000000;
    margin-block: 0;
    padding: 8pt;
} 

section h3 {
    margin: 8pt;
}

section li {
    color: #FFFFFF;
    margin: 8pt;
}

section p {
    color: #FFFFFF;
    margin: 8pt;
}


