@use "sass:color";
@use "sass:map";
@use "sass:string";

/* margin to use on most type of sections */
$sectionmargin: 7pt;

@font-face {
    font-family: "pix5x5";
    src: #{url(/static/Pixel-5x5.ttf) format("truetype")};
}

@font-face {
    font-family: "play";
    src: #{url(/static/Play-Regular.ttf) format("truetype")};
}

$body-font: "play";

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: $body-font;
    margin: 0pt;
}

h1, h2, h3, h4, h5 {
    margin: 8pt;
    font-weight: bold;
}

.pix {
    font-family: "pix5x5";
    font-weight: normal;
    margin: 8pt;
    line-height: 100%;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 2.66 - (0.33 * $i) + "em";
    }
}

.center {
    text-align: center;
}

hr {
    border-color: inherit;
    display: block;
    height: 0;
    border: 0;
    margin: 0 0;
    padding: 0;
    margin-block: 0;
    border-top: 2pt solid $theme;
}

.smallhr {
    color: #7F7F7F;
    border-color: inherit;
    display: block;
    height: 0;
    border: 0;
    border-top: 1pt solid #7F7F7F;
    margin: 0 0;
    padding: 0;
    margin-block: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    background-color: $theme;
    color: #000000;
}

.nav-links {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    padding-left: 2pt;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    font-family: "pix5x5";
    font-weight: normal;
    font-size: 12pt;
    background-color: $theme;
    color: #000000;
    padding: 6pt 6pt;
}

*:before,
*:after {
    z-index: -1;
}

.menu li a {
    $btn-height: 16pt;

    text-decoration: none;
    color: $fgcolor;
    background-color: $theme;

    &:hover {
        transition: 0.1s linear;
        background-color: $fgcolor;
        color: $theme;
    }
}

a {
    color: $theme;
}

p {
    font-size: 12pt;
    margin: 8pt;
}

::selection {
    color: $fgcolor;
    background-color: $theme;
}

::-moz-selection {
    color: $fgcolor;
    background-color: $theme;
}

::-o-selection {
    color: $fgcolor;
    background-color: $theme;
}

::-ms-selection {
    color: $fgcolor;
    background-color: $theme;
}

::-webkit-selection {
    color: $fgcolor;
    background-color: $theme;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 8pt;
}

th, td {
    padding: 2pt;
    text-align: left;
    border-bottom: 1px solid #666666;
    font-size: 12pt;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #333333;
}

ul {
    padding-left: 16pt;
}

.content ul {
    padding-left: 24pt;
}

li {
    list-style-type: square;
}

li::marker {
    color: $theme;
}

section {
    color: #FFFFFF;
}

.sectionheader {
    color: #000000;
    background-color: $theme;
    margin: 0;
    padding: 6pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    width: fit-content;
}

section h3 {
    margin: 8pt;
}

section li {
    color: #FFFFFF;
    margin-left: 8pt;
    margin-right: 8pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

section p {
    color: #FFFFFF;
    margin: 8pt;
}

.banner {
    position: relative;
    width: auto;
    min-height: 100vh;
    overflow: hidden;
    margin: $sectionmargin;
    border: $theme;
    border-width: 2pt;
    border-style: solid;
}

.servicebanner {
    position: relative;
    width: auto;
    overflow: hidden;
    margin: $sectionmargin;
    border: $theme;
    border-width: 2pt;
    border-style: solid;

}

.bgvid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.sectioncontent {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.sectioncontent p {
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.sectioncontent ul {
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.sectioncontent ul li {
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.sectionitem {
    position: relative;
    width: auto;
    overflow: hidden;
    margin: $sectionmargin;
    border: $theme;
    border-width: 2pt;
    border-style: solid;
}

.sectiontitle {
    margin-block: 0;
    margin: 0;
    padding: 4pt;
    width: fit-content;
    font-weight: bold;
    font-size: 18pt;
    background-color: $theme;
    color: #000000;
}

.projectitem {
    margin: $sectionmargin;
    border-style: solid;
    border-width: 2pt;
}

.projectdesc {
    margin: 6pt;
}

.projecttitle {
    margin-block: 0;
    margin: 0;
    padding: 0;
    width: fit-content;
    font-weight: bold;
    font-size: 14pt;
}

.projecttitle a {
    padding: 0pt;
    text-decoration: none;
    color: #000000;
}

.blogpost {
    margin: $sectionmargin;
    border-style: solid;
    border-width: 2pt;
    height: 80pt;
}

.blogpost img {
    float: right;
    height: 100%;
    border-left-style: solid;
    border-left-width: 2pt;
}

.blogpost a {
    display: table;
}

.blogpost a button, .projectitem a button {
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 4pt;
    margin-block: 0;
    margin-left: 0;
    border-width: 2pt;
    border-right-style: solid;
    border-left-style: none;
    border-bottom-style: solid;
    border-top-style: none;
    font-size: 14pt;
    font-family: $body-font;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.blogpost a button h2 {
    text-align: left;
    font-size: 14pt;
    margin: 0;
}

.projectitem a button h3 {
    text-align: left;
    font-size: 14pt;
    margin: 0;
}

@each $themename, $colors in $themes {
    $boxfgcolor: unquote(map-get($colors, "fgcolor"));
    $boxbgcolor: unquote(map-get($colors, "color"));

    .theme-#{$themename} {
        border-color: $boxbgcolor;

        ::selection {
            color: $boxfgcolor;
            background-color: $boxbgcolor;
        }
    }

    .theme-#{$themename} img {
        border-color: $boxbgcolor;
    }

    .theme-#{$themename} a button {
        color: $boxfgcolor;
        background-color: $boxbgcolor;
        border-color: $boxbgcolor;

        &:hover {
            transition: 0.1s linear;
            background-color: $boxfgcolor;
            color: $boxbgcolor;
        }
    }
}

.bloginfo {
    margin: 4pt;
    font-size: 10pt;
}

.blogdesc {
    display: flex;
    max-width: calc(100% - height);
    margin: 4pt;
    font-size: 12pt;
}

.content {
    min-height: 100vh;
}

.backbutton {
    height: 32pt;
    width: 64pt;
    font-family: "pix5x5";

    border-width: 2pt;
    border-color: $theme;
    border-style: solid;
    border-bottom-style: none;
    cursor: pointer;
    font-size: 12pt;

    background-color: $theme;
    color: $fgcolor;

    &:hover {
        transition: 0.1s linear;
        background-color: $fgcolor;
        color: $theme;
    }
}

figure {
    margin: 8pt;
    margin-right: 75%;
    clear: left;
    padding: 4pt;
    width: 50%;
    max-width: 360pt;
    background-color: #101010;
    border-style: solid;
    border-width: 1pt;
    border-color: #999999;
    align-items: center;
}

figure img {
    width: -webkit-fill-available;
    max-width: 100%;
}

figure figcaption {
    font-size: 10pt;
}

.footertext {
    font-size: 10pt;
    text-align: center;
}

.linklist {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.linklist h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 16pt;
}

.linkitem {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: $sectionmargin;
    margin-top: $sectionmargin;
    border-style: solid;
    border-width: 2pt;
}

.linkitem a button {
    width: 100%;
    border: 0;
    cursor: pointer;
    padding: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-align: center;
}


@each $themename, $colors in $themes {
    $boxfgcolor: unquote(map-get($colors, "fgcolor"));
    $boxbgcolor: unquote(map-get($colors, "color"));

    .linkitem-theme-#{$themename} {
        border-color: $boxbgcolor;

        ::selection {
            color: $boxfgcolor;
            background-color: $boxbgcolor;
        }
    }

    .linkitem-theme-#{$themename} a button {
        color: $boxfgcolor;
        background-color: rgba(0, 0, 0, 0);
        border-color: $boxbgcolor;

        &:hover {
            transition: 0.1s linear;
            background-color: $boxbgcolor;
            color: $boxfgcolor;
        }
    }
}